{% extends "base.html" %}
{% block title %}Admin - Conteúdos{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card card-custom p-4 mb-4">
        <h3>Adicionar Conteúdo</h3>
        <form method="POST">
            <div class="form-group">
                <label for="title">Título</label>
                <input type="text" class="form-control" id="title" name="title" required>
            </div>
            <div class="form-group">
                <label for="description">Descrição</label>
                <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
            </div>
            <div class="form-group">
                <label for="author">Autor</label>
                <input type="text" class="form-control" id="author" name="author" required>
            </div>
            <div class="form-group">
                <label for="link">Link (opcional)</label>
                <input type="url" class="form-control" id="link" name="link">
            </div>
            <div class="form-group">
                <label for="youtube_url">Link do Vídeo do YouTube (opcional)</label>  <!-- Campo para o link do YouTube -->
                <input type="url" class="form-control" id="youtube_url" name="youtube_url">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-custom">Adicionar</button>
            </div>
        </form>
    </div>

    <h3>Conteúdos Existentes</h3>
    <div class="row mt-4">
        {% for content in contents %}
        <div class="col-md-6 mb-3">
            <div class="card card-custom">
                <div class="card-body">
                    <h5 class="card-title">{{ content.title }}</h5>
                    <p class="card-text">{{ content.description }}</p>
                    <p><strong>Autor:</strong> {{ content.author }}</p>
                    {% if content.link %}
                    <a href="{{ content.link }}" class="btn btn-outline-primary btn-custom" target="_blank">
                        <i class="fa fa-external-link"></i> Visitar Link
                    </a>
                    {% endif %}
                    <!-- Botão para deletar o conteúdo -->
                    <form action="{{ url_for('views.delete_content', content_id=content.id) }}" method="POST" style="display:inline;">
                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja deletar este conteúdo?');">
                            <i class="fa fa-trash"></i> Deletar
                        </button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
