{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="text-center mb-4">Conteúdos Disponíveis</h1>
        <div class="row">
            {% for content in contents %}
            <div class="col-md-6 mb-4">
                <div class="card card-custom">
                    <div class="card-body">
                        <h5 class="card-title">{{ content.title }}</h5>
                        <p class="card-text">{{ content.description }}</p>
                        {% if content.link %}
                        <a href="{{ content.link }}" class="btn btn-outline-primary btn-custom" target="_blank">
                            <i class="fa fa-external-link"></i> Link do algoritmo
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
