{% extends "base.html" %}

{% block title %}CV_Source - Home{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="text-center mb-4">Conteúdos Disponíveis</h1>
        <div class="row">
            {% for content in contents %}
            <div class="col-md-6 mb-4">
                <div class="card card-custom">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{ url_for('views.view_content', content_id=content.id) }}" style="color: #00FF00;">
                                {{ content.title }}
                            </a>
                        </h5>
                        <p class="card-text">
                            {{ content.description[:150] }}{% if content.description|length > 150 %}...{% endif %}
                        </p>
                        <a href="{{ url_for('views.view_content', content_id=content.id) }}" class="btn btn-custom">
                            Ver mais
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
